/* styles.css */
body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: royalblue;
    padding: 10px 0;
    color: white;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
}

    header a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
    }

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#play-pause {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    #play-pause:hover {
        background-color: #45a049;
        transform: scale(1.05);
    }

#volume {
    width: 100%;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 1rem;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

.audio-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.audio-controls {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;sddw
}

button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

/* Social Sharing Buttons */
.social-sharing {
    margin: 20px 0;
}

    .social-sharing a {
        display: inline-block;
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .social-sharing a:hover {
            background-color: #45a049;
            transform: scale(1.05);
        }

.audio-image {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    vertical-align: middle;
}

.audio-title {
    display: flex;
    align-items: center;
}
